img {
    height: 500px;
    object-fit: contain;
}

.col-auto:nth-child(2) img {
    height: 471px;
    margin: 2.6px 0;
}

.col-auto:nth-child(n + 5) img {
    margin: 11.5px 0;
}

#sp-img {
    height: 476px;
    object-fit: contain;
}

h2 {
    margin-top: 200px;
}